* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}
body{
  overflow: hidden;

}
#root {
  height: 100vh;
}

.App {
  display: flex;
  height: 100%;
  /* background: rgba(255, 255, 255, 0.5); */
  /* background: rgba(0, 0, 0, 0.25); */
  /* background: #262626; */
  /* background: #f5f5f5; */
}

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Work Sans', sans-serif; */

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

/* --------------------------------- Navbar --------------------------------- */

.navbar-parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  height: 100%;
  width: 15%;
  font-family: "Work Sans", sans-serif;
  /* gap: 1rem; */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.nav-top-butts {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  /* border: teal solid 1px; */
}

.nav-top-butts a:hover {
  background: #f5f5f5;
}

.nav-light {
  background: #eaeaea;
}

.nav-dark {
  background: #333333;
  /* background-color: rgba(0, 0, 0, 0.25); */
}

.nav-logo {
  width: 70%;
  margin-top: 1.5rem;
  /* border: teal solid 2px; */
}

.nav-logo img {
  /* border: teal solid 2px; */
  width: 100%;
}

.signout-butt {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  height: 2.5rem;
  border: none;
  /* background: rgba(255, 255, 255, 0.5); */
  cursor: pointer;
  /* border: teal solid 2px; */
}

.signout-butt :nth-child(1) {
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  /* border: teal solid 2px; */
}

.signin-butt {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2.5rem;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  /* border: teal solid 2px; */
}

.signin-butt :nth-child(1) {
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
}

/* ------------------------------- Login Page ------------------------------- */

.login-parent {
  display: flex;
  flex-direction: column;
  width: 85%;
  /* border: teal solid 2px; */
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 6%;
  margin-left: 5%;
  /* border: teal solid 2px; */
}

.login-form input {
  display: flex;
  align-items: center;
  width: 21rem;
  height: 2rem;
  font-family: "Work Sans";
  letter-spacing: 0.02em;
  border: none;
}

.welcome {
  display: flex;
  align-items: center;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 2rem;
  line-height: 125%;
}

.login-butt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 48px;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 24px;
  font-family: "Open Sans";
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.login-redirect {
  display: flex;
  margin-top: 1rem;
  margin-left: 5%;
  gap: 0.5rem;
  font-family: "Open Sans";
  /* border: purple solid 3px; */
}

/* ------------------------------- Signup Page ------------------------------ */

.signup-parent {
  display: flex;
  flex-direction: column;
  width: 85%;
  /* border: teal solid 2px; */
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 6%;
  margin-left: 5%;
  /* border: teal solid 2px; */
}

.signup-form input {
  display: flex;
  align-items: center;
  width: 21rem;
  height: 2rem;
  font-family: "Work Sans";
  letter-spacing: 0.02em;
  border: none;
}

.create-account {
  display: flex;
  align-items: center;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 2rem;
  line-height: 125%;
}

.signup-butt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 48px;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 24px;
  font-family: "Open Sans";
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.signup-redirect {
  display: flex;
  margin-top: 1rem;
  margin-left: 5%;
  gap: 0.5rem;
  font-family: "Open Sans";
  /* border: purple solid 3px; */
}

/* ----------------------------- Positive-Input ---------------------------- */
.positive-parent {
  display: flex;
  flex-direction: column;
  width: 85%;
  /* border: teal solid 2px;  */
}

.positive-header {
  display: flex;
  flex-direction: column;
  margin-top: 6%;
  margin-left: 5%;
  gap: 0.5rem;
  /* border: teal solid 2px; */
}

.positive-header :nth-child(1) {
  font-family: "open Sans";
  line-height: 1.5rem;
  letter-spacing: 0.1em;

  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.positive-header :nth-child(2) {
  font-family: "work Sans";
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  /* text-transform: uppercase; */
  /* color: rgba(0, 0, 0, 0.8); */
}

.positive-input-form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  margin-top: 1.5rem;
  margin-left: 5%;
  gap: 2rem;
  /* border: teal solid 2px; */
}

.positive-input-form input {
  display: flex;
  align-items: center;
  width: 35rem;
  height: 3rem;
  font-family: "Work Sans";
  letter-spacing: 0.02em;
  border: none;
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
}

/* ----------------------------- Negative-Input ---------------------------- */
.negative-parent {
  display: flex;
  flex-direction: column;
  width: 85%;
  /* border: teal solid 2px;  */
}

.negative-header {
  display: flex;
  flex-direction: column;
  margin-top: 6%;
  margin-left: 5%;
  gap: 0.5rem;
  /* border: teal solid 2px; */
}

.negative-header :nth-child(1) {
  font-family: "open Sans";
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.negative-header :nth-child(2) {
  font-family: "work Sans";
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  /* text-transform: uppercase; */
  /* color: rgba(0, 0, 0, 0.8); */
}

.negative-input-form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  margin-top: 1.5rem;
  margin-left: 5%;
  gap: 2rem;
  /* border: teal solid 2px; */
}

.negative-input-form input {
  display: flex;
  align-items: center;
  width: 35rem;
  height: 3rem;
  font-family: "Work Sans";
  letter-spacing: 0.02em;
  border: none;
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
}
/* ------------------------------ Remember Why ------------------------------ */
.remember-why-parent {
  width: 85%;
}

.animated-grid {
  height: 85vh;
  margin-bottom: 200px;

  display: grid;
  gap: 1rem;

  /* Explicit grid */
  grid-template-areas:
    "a  b  c  d"
    "l  🫥 🫥 e"
    "k  🫥 🫥 f"
    "j  i  h  g";

  grid-template-rows: repeat(4, 25%);
  grid-template-columns: 240px auto auto 240px;

  --stagger-delay: 100ms;
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.card {
  animation: cardEntrance 700ms ease-out;
  animation-fill-mode: backwards;
}

.card:nth-child(1) {
  background: url(../public/imgs/homer1.JPG) no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: a;
  animation-delay: calc(1 * var(--stagger-delay));
}
.card:nth-child(2) {
  background: url(../public/imgs/homer2.jpeg) no-repeat;
  background-size: cover;
  background-position: center -57px;
  grid-area: b;
  animation-delay: calc(2 * var(--stagger-delay));
}
.card:nth-child(3) {
  background: url(../public/imgs/homer3.png) no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: c;
  animation-delay: calc(3 * var(--stagger-delay));
}
.card:nth-child(4) {
  background: url(../public/imgs/homer4.jpeg) no-repeat;
  background-size: cover;
  background-position: left;
  grid-area: d;
  animation-delay: calc(4 * var(--stagger-delay));
}
.card:nth-child(5) {
  background: url(../public/imgs/homer5.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: e;
  animation-delay: calc(5 * var(--stagger-delay));
}
.card:nth-child(6) {
  background: url(../public/imgs/homer6.png) no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: f;
  animation-delay: calc(6 * var(--stagger-delay));
}
.card:nth-child(7) {
  background: url(../public/imgs/homer8.png) no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: g;
  animation-delay: calc(7 * var(--stagger-delay));
}
.card:nth-child(8) {
  background: url(../public/imgs/homer7.png) no-repeat;
  background-size: cover;
  background-position: center -10px;
  grid-area: h;
  animation-delay: calc(8 * var(--stagger-delay));
}
.card:nth-child(9) {
  background: url(../public/imgs/homer9.jpeg) no-repeat;
  background-size: cover;
  background-position: center -40px;
  grid-area: i;
  animation-delay: calc(9 * var(--stagger-delay));
}
.card:nth-child(10) {
  background: url(../public/imgs/homer10.png) no-repeat;
  background-size: cover;
  background-position: center -1rem;
  grid-area: j;
  animation-delay: calc(10 * var(--stagger-delay));
}
.card:nth-child(11) {
  background: url(../public/imgs/homer11.png) no-repeat;
  background-size: 250%;
  background-position: center;
  grid-area: k;
  animation-delay: calc(11 * var(--stagger-delay));
}
.card:nth-child(12) {
  background: url(../public/imgs/homer12.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: l;
  animation-delay: calc(12 * var(--stagger-delay));
}
.card:last-child {
  background: url(../public/imgs/homer13.jpeg) no-repeat;
  background-size: cover;
  background-position: center -40px;
  grid-area: 🫥;
  animation-delay: calc(13 * var(--stagger-delay));
}

/* -------------------------------------------------------------------------- */
.merp {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.hidden {
  display: none;
}

.dark-bg {
  background: #262626;
}

.light-bg {
  background: #f5f5f5;
}

.grey {
  background: rgba(255, 255, 255, 0.5);
}

/* ----------------------------- Cube Animations ---------------------------- */
.cubes div {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.2);
  bottom: -160px;
  animation: animate 25s linear infinite;
  z-index: -1;
}

.cubes div:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 3s;
  animation-duration: 20s;
}

.cubes div:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.cubes div:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.cubes div:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 3s;
  animation-duration: 18s;
}

.cubes div:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.cubes div:nth-child(6) {
  left: 70%;
  width: 150px;
  height: 150px;
  animation-delay: 3s;
  animation-duration: 30s;
  /* background: teal; */
}
.cubes div:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;

  /* background: teal; */
}
.cubes div:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
  /* background: teal; */
}
.cubes div:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
  /* background: teal; */
}
.cubes div:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 60s;
  /* background: teal; */
}

@keyframes animate {
  0% {
    opacity: 1;
    border-radius: 0;
    transform: translateY(0) rotate(0deg);
  }
  100% {
    opacity: 0;
    border-radius: 50%;
    transform: translateY(-1000px) rotate(720deg);
  }
}

/* --------------------------------- Modals --------------------------------- */
.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);
  margin:auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: teal;
}

/* -------------------------------------------------------------------------- */
